

/** 页面添加样式**/

.toolbar{
    text-align: right;
    position: fixed;
    right: 10px;
    top: 0px;
    /*width: 100%;*/
}

.toolbar>div{
	font-weight: bold;
	font-family: "微软雅黑";
	border-radius: 0.2rem;
	padding: 0.2rem 1rem !important;
}

.toolbar>div:nth-child(1) {
	background: #005EBB !important;
}

.toolbar>div:nth-child(2) {
	background: #F80 !important;	
}

