<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <form method="post" action="/demo/demo1?ts=$!{date.time}">
        <input name="username" placeholder="username"  type="text" lay-verify="required" value="myusername"> <br />
        <input name="password" placeholder="password"  type="password" value="mypassword"> <br />
        <input name="jcaptcha" placeholder="jcaptcha"  type="text" value="myjcaptcha"> <br />
        <input value="submit" type="submit">
    </form>
</body>
</html>